<!-- styles -->
<style>
</style>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <!-- my content -->
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <!-- my content -->
  </div>
</div>


<!-- scripts -->
<script>
  // Script content!
</script>

<% /** title, header and footer */ %>
<%- contentFor('title') %>
<%= title %>

<%- contentFor('header') %>

<%- contentFor('footer') %>
